[Unit]
Description=Internet Forwarding Service (Kali → AP)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/home/agent/new_foward_tplink/setup.sh
ExecStop=/home/agent/new_foward_tplink/stop.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
